<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Testes back-end">
      <directory suffix="Teste.php">./test/</directory> <!-- Estamos informando que todo arquivo de teste terá a terminação "Teste.php" no final do nome do arquivo. Além disso informamos tb, que a a pasta onde ficarão os arquivos de teste tb será a pasta 'test'.-->
    </testsuite>
  </testsuites>
</phpunit>